.about {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: var(--pink-50);
    position: relative;
    overflow: hidden;
}

.about header {
    display: grid;
    row-gap: 1rem;
}

.about h1 {
    background-color: white;
    width: max-content;
    padding: .2rem 1rem;
    color: var(--pink-800);
    font-family: var(--lexend-semibold);
    border-radius: .4rem;
    font-size: .8rem;
}

.about > :nth-child(1) {
    width: min(45rem, 100%);
}

.about > :nth-child(1) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about > :nth-child(2) {
    width: min(40rem, 100%);
    display: grid;
    align-items: center;
    padding: 10rem 1rem;
    row-gap: 2rem;
}

.about > :nth-child(2) > * {
    width: min(30rem, 100%);
}

.about article > :nth-child(3) {
    display: grid;
    row-gap: 1.5rem;
}

.about ul {
    display: grid;
    row-gap: 1rem;
}
.about li {
    color: var(--pink-800);
    font-family: var(--lexend-semibold);
}

.overlay-curve {
    position: absolute;
    width: 100%;
    min-width: 30rem;
}

.about > :nth-child(3) {
    top: 0;
}
.about > :nth-child(4) {
    bottom: -1.35rem;
}


@media screen and (max-width: 550px) {
    .about > :nth-child(1) {
        display: none;
    }
}
