.cta-section {
    display: grid;
    row-gap: 2rem;
    padding: 0;
}

.cta-mosaic {
    display: grid;
    grid-auto-rows: 20rem;
    grid-template-columns: repeat(4, 1fr);
}

.cta-section > h1 {
    text-align: center;
}

.cta-mosaic > :nth-child(1) {
    background-color: var(--orange-2);
}
.cta-mosaic > :nth-child(1) > :nth-child(1) {
    color: var(--orange-1);
}
.cta-mosaic > :nth-child(1) > :nth-child(2) {
    background-color: var(--yellow-4);
    color: var(--yellow-6);
    border: none;
    padding: 1rem;
    border-radius: 2rem;
    font-family: var(--lexend-semibold);
}


.cta-mosaic > :nth-child(2) {
    background-color: var(--pink-6);
}

.cta-mosaic > :nth-child(3) {
    background-color: var(--green-1);
}

.cta-mosaic > :nth-child(4) {
    background-color: var(--blue-1);
}

.cta-mosaic > :nth-child(5) {
    background-color: var(--yellow-4);
}

.cta-mosaic > :nth-child(6) {
    background-color: var(--purple-1);
}

.cta-mosaic > :nth-child(7) {
    background-color: var(--pink-5);
}
.cta-mosaic > :nth-child(7) > :nth-child(1) {
    color: var(--pink-3);
}
.cta-mosaic > :nth-child(7) > :nth-child(2) {
    color: var(--pink-5);
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    font-family: var(--lexend-semibold);
}


.cta-mosaic > :nth-child(8) {
    background-color: var(--orange-3);
}



/* media queries */
@media screen and (max-width: 940px) {
    .cta-mosaic {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
