.cta-section {
    margin-top: 5rem;
    display: grid;
    row-gap: 2rem;
    padding: 0;
}

.cta-mosaic {
    display: grid;
    grid-auto-rows: 24rem;
    grid-template-columns: repeat(4, 1fr);
}

.cta-section > h1 {
    text-align: center;
}

.cta-mosaic > * {
    padding: 1rem;
    position: relative;
    overflow: hidden;
}

.cta-mosaic img {
    width: 100%;
    --img-width: 100%;
    position: absolute;
    bottom: -1.7rem;
    left: calc((100% - var(--img-width)) / 2);
    height: 100%;
}

.cta-mosaic > :nth-child(5) img {
    /* --img-width: min(15rem, 100%); */
    left: calc((100% - 12rem) / 2);
    width: 12rem;
}

.cta-mosaic > * > *:not(img) {
    z-index: var(--index-two);
}





/* children */
.cta-mosaic > :nth-child(1) {
    background-color: var(--orange-2);
    display: grid;
    align-items: center;
}

.cta-mosaic > :nth-child(1) > :nth-child(1) {
    color: var(--orange-1);
}
.cta-mosaic > :nth-child(1) > :nth-child(2) {
    background-color: var(--yellow-4);
    color: var(--orange-900);
    border: none;
    padding: 1rem;
    border-radius: 2rem;
    font-family: var(--lexend-semibold);
    height: max-content;
    width: min(15rem, 90%);
    text-decoration: none;
    text-align: center;
}


.cta-mosaic > :nth-child(2) {
    background-color: var(--pink-6);
    display: grid;
    background: url(/assets/home/pink-pattern.svg);
}
.cta-mosaic > :nth-child(2) > :nth-child(1) {
    color: var(--pink-5);
    font-family: var(--lexend-bold);
    align-self: flex-end;
}

.cta-mosaic > :nth-child(3) {
    background-color: var(--green-600);
    display: grid;
}
.cta-mosaic > :nth-child(3) > :nth-child(1) {
    margin-top: 3rem;
    color: var(--blue-50);
    font-family: var(--lexend-bold);
}
.cta-mosaic :nth-child(3) > img {
    /* display: none; */
    min-width: 22rem;
    aspect-ratio: 1 / 1;
    height: 20rem;
    /* object-fit: cover; */
}

.cta-mosaic > :nth-child(4) {
    background-color: var(--blue-500);
    display: grid;
    background: url(/assets/home/blue-pattern.svg) no-repeat;
    background-position: 30% 70%;
    background-size: cover;
}
.cta-mosaic > :nth-child(4) > :nth-child(1) {
    color: var(--blue-50);
    align-self: flex-end;
    font-family: var(--lexend-bold);
}


.cta-mosaic > :nth-child(5) {
    background-color: var(--yellow-4);
    display: grid;
}
.cta-mosaic > :nth-child(5) > :nth-child(1) {
    color: var(--purple-500);
    font-family: var(--lexend-bold);
    align-self: flex-end;
}

.cta-mosaic > :nth-child(6) {
    background-color: var(--purple-500);
    display: grid;
}
.cta-mosaic > :nth-child(6) > :nth-child(1) {
    color: var(--blue-50);
    align-self: flex-end;
    font-family: var(--lexend-bold);
}

.cta-mosaic > :nth-child(7) {
    background-color: var(--pink-5);
    display: grid;
    align-items: center;
}
.cta-mosaic > :nth-child(7) > :nth-child(1) {
    color: var(--pink-50);
}
.cta-mosaic > :nth-child(7) > :nth-child(2) {
    color: var(--pink-5);
    border: none;
    font-family: var(--lexend-semibold);
    padding: 1rem;
    border-radius: 2rem;
    font-family: var(--lexend-semibold);
    height: max-content;
    width: min(15rem, 90%);
    background-color: white;
    text-align: center;
}


.cta-mosaic > :nth-child(8) {
    background-color: var(--orange-3);
    display: grid;
    background: url(/assets/home/orange-pattern.svg);
}
.cta-mosaic > :nth-child(8) > :nth-child(1) {
    color: var(--orange-1);
    font-family: var(--lexend-bold);
    align-self: flex-end;
}



/* media queries */
@media screen and (max-width: 940px) {
    .cta-mosaic {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
