.primary-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.primary-logo {
    width: 5rem;
    height: 2.5rem;
}

.primary-logo img {
    width: 100%;
    height: 100%;
}

.primary-nav a {
    text-decoration: none;
}

.primary-nav-links-container {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.primary-nav-links-container a {
    border-radius: 2rem;
    display: flex;
    align-items: center;
    text-align: center;
}

.primary-nav-links-container > :first-child {
    display: flex;
    column-gap: 2rem;
}

.primary-nav-links-container > :first-child > .active {
    color: var(--purple-500);
}

.primary-nav-links-container > :first-child > * {
    color: var(--gray-1);
}

.primary-nav-links-container > :last-child {
    display: flex;
    column-gap: 1rem;
}

.primary-nav-links-container > :last-child > * {
    padding: .5rem 1.5rem;
}

.primary-nav-links-container > :last-child > :first-child {
    color: var(--pink-1);
    border: 1px solid var(--pink-1);
    background-color: white;
}

.primary-nav-links-container > :last-child > :last-child {
    color: white;
    background-color: var(--pink-1);
}

.toggle-nav-card {
    z-index: var(--close-nav-card);
}

.toggle-nav-card > * {
    z-index: var(--close-nav-card);
}

.nav-checkbox:checked ~ .nav-card {
    display: grid;
}

.nav-card {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    padding: 5rem 2.5rem 2rem 2.5rem;
    align-content: flex-start;
    z-index: var(--nav-card);
    background-color: white;
    row-gap: 2rem;
}

.nav-card > * {
    color: var(--gray-1);
}

.nav-card > :nth-child(5) {
    color: var(--pink-1);
    border: 1px solid var(--pink-1);
    background-color: white;
    width: 12rem;
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    outline: none;
}

.nav-card > :nth-child(6) {
    color: white;
    background-color: var(--pink-1);
    padding: 1rem 1.5rem;
    width: 12rem;
    text-align: center;
    border-radius: 2rem;
    outline: none;
}



/* .nav-card > :first-child {
    justify-self: right;
    font-size: 2rem;
} */


/* media queries */
@media screen and (max-width: 1090px) {
    .primary-nav-links-container {
        display: none;
    }
}
