.cards-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    min-height: 60vh;
}

.courses-category {
    display: grid;
    row-gap: 3rem;
}

.courses-card-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.no-result-display {
    display: none;
    text-align: center;
    row-gap: 2rem;
    align-content: center;
    justify-content: center;
    justify-items: center;
    height: 100%;
}

.no-result-display h1 {
    color: var(--b600);
}

.no-result-display p {
    color: var(--b70);
    width: min(40rem, 100%);
}
