body {
    row-gap: 0;
}

.primary-nav {
    padding-bottom: 1.5rem;
}

.hero-header {
    display: grid;
    row-gap: 2rem;
    width: 60vw;
}

.hero {
    background-color: var(--gray-3);
    min-height: 40rem;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}


.hero h1 {
    font-size: clamp(1.5rem, 5vw + .5rem, 3rem);
    color: var(--black-1);
}

.courses-search-container {
    width: min(30rem, 90%);
    align-items: center;
    background-color: white;
    display: grid;
    grid-template-columns: 90% auto;
    justify-content: space-between;
    padding: .5rem 1rem;
    border-radius: 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);

}

.courses-search {
    border: none;
    background-color: transparent;
    /* background-color: aliceblue; */
    padding: .5rem 0;
}

.courses-search:focus {
    border: none;
    outline: none;
}

.courses-search::placeholder {
    color: var(--b70);
}



.hero-image-container {
    width: clamp(15rem, 40vw + .1rem, 30rem);
    margin-left: auto;
}

.hero-image-container img {
    width: 100%;
}


/* media queries */
@media screen and (max-width: 660px) {
    .hero {
        align-items: flex-start;
    }

    .hero-header {
        margin-top: 4rem;
        width: 60vw;
    }



    .hero-image-container {
        position: absolute;
        right: -1rem;
        bottom: 35%;
    }

    .courses-search-container {
        position: absolute;
        bottom: 20%;
        left: 5%;
    }
}
