:root {
    /* color variables */
    --gray-1: #6C757D;
    --gray-2: #57595A;

    --black-1: #3B3B3B;
    --black-2: #4A4A4A;

    --purple-1: #2E1562;

    --pink-1: #F45B7D;

    --yellow-1: #FFFAE7;
    --yellow-2: #FEF1B6;
    --yellow-3: #6A5808;

    /* font families */
    --lexend-regular: 'lexend-regular';
    --lexend-light: 'lexend-light';
    --lexend-bold: 'lexend-bold';
    --lexend-semibold: 'lexend-semibold';
    --lexend-medium: 'lexend-medium';
}

* {
    font-optical-sizing: auto;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 1.5rem 0;
    font-family: 'lexend-regular', sans-serif;
    color: var(--black-2);
    display: grid;
    row-gap: 4rem;
}

body > * {
    padding: 0 clamp(1rem, 3vw + .1rem, 4rem);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--lexend-semibold);
}
