:root {
    /* color variables */
    --gray-1: #6C757D;
    --gray-2: #57595A;

    --black-1: #3B3B3B;

    --purple-1: #2E1562;
    --pink-1: #F45B7D;

    /* font families */
    --lexend-regular: 'lexend-regular';
    --lexend-light: 'lexend-light';
    --lexend-bold: 'lexend-bold';
    --lexend-semibold: 'lexend-semibold';

}

* {
    font-optical-sizing: auto;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 1.5rem 0;
    font-family: 'lexend-regular', sans-serif;
}

body > * {
    padding: 0 clamp(1rem, 3vw + .1rem, 4rem);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--lexend-semibold);
}
